body {
    background-color: #E0EEC6;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.heading { 
    margin: 0;
    padding: 0;
}

.heading > img {
    padding: 0;
    margin: 25px;
}

.intro-container {
    font-family: "Major Mono Display", sans-serif;
    margin-bottom: 75px;
    background-color: white;
    color: #114B5F;
    border: 1px solid black;
    padding: 25px;
    box-sizing: border-box;
    width: 50vw;
    height: 50vh;
    max-height: 400px;
    max-width: 800px;
    margin-left: 25vw;
    text-align: center;
}

#begin a {
    color: black;
    background-color: #C2A83E;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 50px; 
    margin-right: 15px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border: 1px solid black;
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2);
}

.levels > button {
    margin-top: 0px;
    margin-bottom: 50px; 
    margin-right: 15px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid #114B5F;
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2);
}

.levels-container {
    font-family: "Major Mono Display", sans-serif;
    background-color: white;
    color: #114B5F;
    border: 1px solid #114B5F;
    padding: 25px;
    box-sizing: border-box;
    width: 50vw;
    height: 50vh;
    max-height: 400px;
    max-width: 800px;
    margin-left: 25vw;
    margin-bottom: 75px;
    text-align: center;
}

.levels-container > h2 {
    font-family: "Major Mono Display", sans-serif;
    margin-bottom: 75px;
    color: #114B5F;
}

.levels a {
    font-family: "Poppins", sans-serif;
    color: black;
    margin-top: 0px;
    margin-bottom: 50px; 
    margin-right: 15px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.easy {
    background-color: #C2A83E;
    text-decoration: none;
  }

.easy:hover {
    background-color: black ;
    color: #C2A83E;
}

.intermediate {
    background-color: #3AAFB9;
    color: black;
}

.intermediate:hover {
    background-color: black;
    color: #3AAFB9;
}

.expert {
    background-color: #9F9AA4;
    color: black;
}

.expert:hover {
    background-color: black;
    color: #9F9AA4;
}

.main-container {
    background-color: white;
    color: #114B5F;
    border: 1px solid #114B5F;
    padding: 25px;
    box-sizing: border-box;
    width: 50vw;
    height: 50vh;
    max-height: 400px;
    max-width: 800px;
    margin-left: 25vw;
    text-align: left;
}

.answers {
    color: black;
}

.question {
    padding: 5px;
    color: #114B5F;
    font-family: "Major Mono Display", sans-serif;
    font-weight: 800;
    text-align: left;
    font-size: 1.5rem;
}

.scores {
    display: inline-block;
    font-size: 1.2rem;
    color: black;
    padding: 10px;
}

#correct {
    color: green;
}

#incorrect {
    color: red;
}

